{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block head %}
{{- super() -}}
<link href="/static/style.css" rel="stylesheet">
<link href="/static/pygments-solarized-dark.css" rel="stylesheet">
<link href="/static/favicon.ico" rel="icon">
{% endblock %}
{% block body %}
{{- super() -}}
<div class="container">
    <div class="row">
        <div class="span12">
            {{ message|safe }}
        </div>
        <div class="span12">
            {{ wtf.quick_form(form, class="form form-vertical") }}
        </div>
    </div>
</div>
{% endblock %}
