{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block head %}
{{- super() -}}
<link href="/static/style.css" rel="stylesheet">
<link href="/static/pygments-solarized-dark.css" rel="stylesheet">
<link href="/static/favicon.ico" rel="icon">
{% endblock %}
{%- block title -%}
{%- if form.title.data != None -%}{{ form.title.data }} - {% endif -%}Sadbin - Pastebin for Sadmins
{%- endblock -%}
{% block body %}
{{- super() -}}
<div class="container">
    <div class="row">
        <div class="span12">
            {{ message|safe }}
        </div>
    </div>
    <div class="row">
        <form action="." method="post" class="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, 'only') }}
            {%- for field in form %}
            {% if not field|bootstrap_is_hidden_field %}
            {% if field.name == "paste_content" or field.name == "captcha" -%}
            <div class="span12">
            {%- else -%}
            <div class="span3">
            {%- endif -%}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <div class="controls">
                        {{field(placeholder = field.label.text)|safe}}
                        {%- if field.errors %}
                        {%- for error in field.errors %}
                        <p class="help-block">{{error}}</p>
                        {%- endfor %}
                        {%- elif field.description -%}
                        <p class="help-block">{{field.description|safe}}</p>
                        {%- endif %}
                    </div>
                </div>
            </div>
            {%- endif %}
            {%- endfor %}
            <div class="span12">
                <button name="submit" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% block footer -%}
    <div class="row">
        <div class="span12">
                &copy; 2013, The author.
        </div>
    </div>
{%- endblock %}
</div>
{% endblock %}
