<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <a class="brand" href="/">Sadbin</a>
                </li>
                {% if current_user.is_anonymous() -%}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% else -%}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {%- endif %}
            </ul>
        </div>
    </div>
</div>
